*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'IBM Plex Sans Condensed';
}

/*------------------------------------------------- HOME PAGE --------------------------------------------------------*/

.homePage{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
}

.homePage  h1{
    color: #EEA10C;
    margin-left: 3em;
    margin-top: 3em;
}

/*--- Welcoming buttons --*/
.homePage .welcomingButtons{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    column-gap: 3em;
    margin-top: 1em;
}

.homePage .welcomingButtons .welcomingButton{
    display: inline-grid;
    justify-content: center;
    border-radius: 10px;
    width: 100%;
    font-size: 2em;
    padding: 1vw;
    background-color: #C4C4C4;
}

.homePage .welcomingButtons .welcomingButton img{
    width: 1em;
    vertical-align: center;
}

.homePage .welcomingButtons .welcomingButton u{
    font-weight: bold;
    color: black;
}

.homePage .welcomingButtons .welcomingButton:hover{
    filter: brightness(1.15);
}
/*--- Welcoming buttons --*/


/*--- Trending categories --*/
.homePage .trendingCategories{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    column-gap: 5vw;
    margin: 4em 4em;
    justify-content: center;
}

.homePage .trendingCategories .category{
    display: grid;
    justify-content: center;
    border-radius: 15px;
    background-color: #C4C4C4;
    font-size: 1.3em;
}

.homePage .trendingCategories .category img{
    width: 5em;
    padding: 0.5em 1em;
    align-content: center;
}

.homePage .trendingCategories .category u{
    text-align: center;
    color: #FFFFFF;
    background-color: black;
    padding: 0.5em 1em;
    border-radius: 5px;
}

.homePage .trendingCategories .category:hover{
    filter: brightness(1.15);
}

/*--- Trending categories --*/


/*--- Popular products --*/
.homePage  .popularProducts{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 4em 4em;
}

.homePage .popularProducts a {
    background-color: #C4C4C4;
}

.homePage .popularProducts .product{
    width: 90%;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
    display: grid;
    grid-template-columns: 55% auto;
    border-radius: 50px;
}

.homePage .popularProducts .product img{
    width: 70%;
    margin-left: 3em;
    margin-top: 2em;
    margin-bottom: 1em;
    border-radius: 50px;
}

.homePage .popularProducts .product .info{
    margin-top: 3em;
    margin-right: 1em;
    font-size: 1.3em;
    color: black;
}

.homePage .popularProducts .product .name{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.7em;
    grid-column: 1/3;
    color: #FFFFFF;
    background-color: black;
    border-radius: 5px;
    text-align: center;
}
/*--- Popular products --*/
/*------------------------------------------------ !HOME PAGE --------------------------------------------------------*/


/*----------------------------------------------------HEADER----------------------------------------------------------*/

header {
    width: 100%;
    height: 125px;
    font-size: large;
    font-weight: bolder;
    background-color: #191919;
}

header .logo {
    display: inline-grid;
    height: 100%;
    left: 20px;
}

header .inner{
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

header .logo div{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

header .logo img{
    height: 120px;
}

header nav{
    float: right;
    height: 100%;
    width: 70%;
}

header nav li{
    display: table;
    height: 100%;
    float: left;
    margin-right: 3%;
}

header nav li:first-of-type{
    margin-right: 0.75em;
}

header nav li:last-of-type{
    margin-right: 0;
}

header nav span {
    display: table-cell;
    vertical-align: middle;
}

header nav a{
    color: #FFFFFF;
}

header nav a .iconedButton{
    display: table-cell;
    vertical-align: middle;
    background: #EEA10C;
    height: 1.75em;
    padding: 6px 10px;
    border-radius: 4px;
}

header nav .iconedButton:hover{
    filter: brightness(1.05);
}

header nav .searchBar{
    background-color: #C4C4C4;
    height: 35%;
    width: 35em;
    color: #000000;
    padding: 10px 20px;
    border-radius: 4px;
}

header nav .logInButton{
    background-color: #FFC700;
    color: #000000;
    padding: 10px 20px;
    border-radius: 4px;
}

header nav .logInButton:hover{
    filter: brightness(1.05);
}

header nav .signUpButton{
    background-color: #EEA10C;
    color: #000000;
    padding: 10px 20px;
    border-radius: 4px;
}

header nav .signUpButton:hover{
    filter: brightness(1.05);
}


/*----------------------------------------------Fin del HEADER--------------------------------------------------------*/

/*----------------------------------------------------FOOTER----------------------------------------------------------*/

footer {
    width: 100%;
    height: 200px;
    font-size: large;
    font-weight: bolder;
    background-color: #191919;
}


footer .footerContainer{
    width: 67.1%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

footer .footerContainer .row {
    justify-content: space-between;
    grid-template-columns: auto auto auto;
    grid-auto-rows: auto;
    flex-wrap: wrap;
    opacity: 95%;
}


footer .footerContainer .row .footerLinkList{
    display: inline-grid;
    width: 33%;
}

footer .footerContainer .row .footerLinkList span{
    padding-top: 1em;
    padding-left: 25px;
    font-size: 1.25em;
    font-weight: bold;
    color: #EEA10C;
}

footer .footerContainer .row .footerLinkList ul{
    padding-top: 0.5em;
    list-style: none;
    margin: 0;
}

footer .footerContainer .row .footerLinkList ul li{
    padding: 10px;
}

footer .footerContainer .row .footerLinkList ul li a{
    padding: 10px 15px ;
    vertical-align: middle;
    color: #EEA10C;
}

footer .footerContainer .row .footerLinkList ul li a img{
    vertical-align: middle;
    padding-bottom: 0.25em;
    padding-right: 0.4em;
    width: 1.2em;
}

footer .footerContainer .row .footerLinkList ul li a:hover{
    filter: brightness(1.05);
    background-color: #FFFFFF;
    opacity: 75%;
}


/*----------------------------------------------Fin del FOOTER--------------------------------------------------------*/
/*----------------------------------------------InsideACategory-------------------------------------------------------*/

.catGridContainer {
    width: 95%;
    margin: 2em auto;
    display: grid;
    grid-template-areas: 'filter products';
    grid-template-columns: 30% auto;
    padding: 20px;
}

.catLeftFilter{
    grid-area: filter;
    display: grid;
    grid-template-areas:
            'sectionTitle'
            'priceSelection'
            'brandSelection'
            'additionalOptions';
    grid-template-rows: 6em 10em 10em 10em;
    text-align: center;
    background-color: #3C3B3B;
    border-radius: 5px;
    padding-bottom: 2em;
}

.catLeftFilter h1{
    margin-top: 1em;
    color: #EEA10C;
}

.catLeftFilter h2{
    margin-top: 2em;
    color: #EEA10C;
}

.catLeftFilter h1 .sectionTitle{
    grid-area: sectionTitle;
    border: 2px solid black;
}

.catLeftFilter .priceSelection{
    grid-area: priceSelection;
    grid-template-areas:
            'subsectionTitle'
            'priceSelectionContainer';
    justify-content: normal;
    margin-top: 1em;
    display: grid;
}

.catLeftFilter .priceSelection h2{
    grid-area: subsectionTitle;
}

.catLeftFilter .priceSelection .priceSelectionContainer{
    grid-area: priceSelectionContainer;
}

.catLeftFilter .priceSelection input{
    width: 20%;
    height: 2.3em;
    margin: 2em 3em;
    text-align: center;
}

.catLeftFilter .priceSelection input .minAmount{
    grid-area: minPrice;
}

.catLeftFilter .priceSelection input .maxAmount{
    grid-area: maxPrice;
}

.catLeftFilter .brandSelection{
    grid-area: brandSelection;
    margin-top: 1em;
}

.catLeftFilter .brandSelection h2{
    margin-bottom: 0.8em;
}

.catLeftFilter .brandSelection input{
    float: left;
    margin-left: 12em;
    margin-right: 2em;
}

.catLeftFilter .brandSelection label{
    float: left;
    font-weight: bolder;
    color: #FFFFFF;
}

.catLeftFilter .additionalOptions{
    grid-area: additionalOptions;
    display: grid;
    margin-top: 1em;
}

.catLeftFilter .additionalOptions h2{
    margin-bottom: 0.8em;
}

.catLeftFilter .additionalOptions input{
    float: left;
    margin-left: 12em;
    margin-right: 2em;
}

.catLeftFilter .additionalOptions label{
    float: left;
    font-weight: bolder;
    color: #FFFFFF;
}





.catProducts{
    grid-area: products;
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
}

.catProducts .information {
    text-align: justify;
    grid-column: 1/3;
    margin-top: 1em;
    font-size: 1.25em;
    color: #FFFFFF;
    padding: 1em 5em;
}

.catProducts a{
    background-color: #C4C4C4CC;
}

.catProducts .product{
    width: 90%;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
    display: grid;
    grid-template-columns: 55% auto;
    border-radius: 50px;
}

.catProducts .product img{
    width: 70%;
    margin-left: 3em;
    margin-top: 2em;
    margin-bottom: 1em;
    border-radius: 50px;
}

.catProducts .product .info{
    margin-top: 3em;
    margin-right: 1em;
    font-size: 1.3em;
    color: black;
}

.catProducts .product .name{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.7em;
    grid-column: 1/3;
    color: #FFFFFF;
    background-color: black;
    border-radius: 5px;
}





/*----------------------------------------------InsideACategory-------------------------------------------------------*/


/*----------------------------------------------- Concrete Product ---------------------------------------------------*/


/*--- Main grid ---*/
.productGridContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 45% auto;
    grid-template-rows: auto auto;
    text-align: center;
}
/*--- !Main grid ---*/


/*--- Image ---*/
.productGridContainer .imgContainer img{
    width: 30em;
    border-radius: 50px;
    margin-top: 3em;
    margin-bottom: 2em;
}
/*--- !Image --*/

/*--- Product info --*/
.productGridContainer .operationsGrid{
    display: grid;
    text-align: justify;
    justify-content: space-evenly;
    grid-template-columns: auto auto;
    grid-template-rows: 4em 4em 3em 3em 3em;
    font-size: 1.5em;
    color: #FFFFFF;
}

.productGridContainer .operationsGrid .productName{
    grid-column: 1/3;
    font-size: 1.3em;
    margin-top: 1em;
}

.productGridContainer .operationsGrid .productPrice{
    color: #EEA10C;
    font-size: 2.2em;
}

.productGridContainer .operationsGrid .additionalPriceInformation{
    color: #c5c5c5;
}


.productGridContainer .operationsGrid .leftHandBoldTag{
    font-weight: bold;
}

.productGridContainer .operationsGrid .addToCartButton{
    font-size: 1em;
    font-weight: bold;
    width: 10em;
    height: 100%;
    background-color: #EEA10C;
    border-radius: 15px;
    color: black;
}

.productGridContainer .operationsGrid .addToCartButton h3{
    margin-top: 1em;
    text-align: center;
}

.productGridContainer .operationsGrid .buyNowButton{
    font-size: 1em;
    font-weight: bold;
    width: 10em;
    background-color: #EEA10C;
    border-radius: 15px;
}
/*--- !Product info --*/


/*--- Page options --*/
.productGridContainer .additionalOptions{
    grid-column: 1/3;
    margin-top: 1em;
    display: grid;
    font-size: 1.5em;
}

/*-- Buttons --*/
.productGridContainer .additionalOptions .selectionButtons{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    padding: 2em;
}

.productGridContainer .additionalOptions .selectionButtons .concreteSelectionButton{
    background-color: #EEA10C;
    color: black;
    font-weight: bold;
    font-size: 1em;
    height: 2.5em;
    border-radius: 15px;
}

.productGridContainer .additionalOptions .selectionButtons .concreteSelectionButton h3{
    margin-top: 0.5em;
}
/*-- !Buttons --*/

/*--- Selection section ---*/
.productGridContainer .additionalOptions .specs{
    display: grid;
    grid-template-columns: 18% auto;
    color: #FFFFFF;
    text-align: justify;
    margin-left: 4em;
    margin-right: 2em;
    margin-bottom: 2em;
}

.productGridContainer .additionalOptions .specs h1{
    grid-column: 1/3;
    font-size: 1.8em;
    text-underline: #EEA10C;
    height: 1.5em;
    margin-top: 1em;
}

.productGridContainer .additionalOptions .leftHandBoldTag{
    font-weight: bold;
    height: 1.7em;
}
/*--- !Selection section ---*/


/*--- Opinions section ---*/
.productGridContainer .additionalOptions .opinions{
    display: grid;
    grid-template-columns: auto;
}

.productGridContainer .additionalOptions .opinions .concreteOpinion{
    display: grid;
    background-color: #C4C4C4;
    grid-template-columns: auto auto;
    vertical-align: center;
    text-align: justify;
    margin: 2em 2em 1em 2em;
    padding: 15px;
    border-radius: 15px;
}

.productGridContainer .additionalOptions .opinions .concreteOpinion .userName{
    font-weight: bold;
    font-size: 1.5em;
    height: 1.5em;
}

.productGridContainer .additionalOptions .opinions .concreteOpinion .score{
    font-weight: bolder;
}

.productGridContainer .additionalOptions .opinions .concreteOpinion .opinionText{
    grid-column: 1/3;
    padding-top: 0.5em;
    padding-bottom: 1.3em;

}

.productGridContainer .additionalOptions .opinions .concreteOpinion .leftHandBoldTag{
    font-weight: bold;
}


/*--- !Opinions section ---*/



/*--- FAQ section ---*/

.productGridContainer .additionalOptions .faqGrid{
    display: grid;
    grid-template-columns: auto;
}

.productGridContainer .additionalOptions .questionGrid{
    display: grid;
    background-color: #C4C4C4;
    grid-template-columns: auto auto;
    vertical-align: center;
    text-align: justify;
    margin: 2em 2em 1em 2em;
    padding: 15px;
    border-radius: 15px;
}

.productGridContainer .additionalOptions .questionGrid .question{
    font-weight: bold;
    font-size: 1.5em;
    height: 1.5em;
}

.productGridContainer .additionalOptions .questionGrid .numberOfReplies{
    font-weight: bolder;
}

.productGridContainer .additionalOptions .questionGrid .reply{
    grid-column: 1/3;
    padding-top: 0.5em;
    padding-bottom: 1.3em;
}
/*--- !FAQ section ---*/
/*--- !Page options --*/
/*----------------------------------------------- Concrete Product ---------------------------------------------------*/


.contactContainer{
    background-color:#c4c4c4;
    padding: 30px;
    margin-bottom: 5%;
}
.contactTitle{
    text-align: center;
    font-size: 3.5vmax;
    margin-bottom: 5%;
}
.contactBody{
    font-family: 'IBM Plex Sans Condensed';
    background-color: #464646;
}

.contactGrid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 1em;
    grid-auto-rows: 50% 50%;
    margin-bottom: 2em;
    margin-right: 2em;
}

.contactObject{

    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    box-shadow: 5px 5px 10px;
    shape-margin: 10px;
    border-radius: 20px;

}
.contactPicture{
    position: center;
}

/*-----------------------------------------------------------------*/

.ticketBox{
    background: #F0F0F0;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 100%;
    height: 30px;
    margin-bottom: 2%;
}
.messageBox{
    background: #F0F0F0;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 100%;
    height: 30px;
    margin-bottom: 5%;
    padding-bottom: 100px;
}

.TicketContainer{
    background-color:#c4c4c4;
    padding: 30px;
    position: relative;
    margin-left: 20em;
    margin-right: 25em;
    margin-top: 8%;
    margin-bottom: 8%;
    border-radius: 10px;
}

.TicketForm{
    background-color: #464646;
}

.TicketPicture{
    margin-left: 45%;
}

.ticketButton{
    background: #EEA10C;
    margin-left: 47%;
    height: 75px;
    width: 125px;
    border-radius: 10px;
    font-size: 15px;
}
/*----------------------------------------------------WISHLIST----------------------------------------------------------*/
.wishlistBody{
    font-family: 'IBM Plex Sans Condensed';
    background-color: #464646;
}
.wishlistContainer{
    /*background-color:#c4c4c4;*/


    position: relative;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 10px;
}

.wishlistObject{

    background-color:#c4c4c4;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    box-shadow: 5px 5px 10px;
    shape-margin: 10px;
    border-radius: 20px;


}
.wishlistGrid{
    display: grid;
    grid-template-columns: auto;
    grid-gap: 5em;
    grid-auto-rows: auto auto auto;
}

.wishlistTitle{
    color: #F0F0F0;
    text-align: center;
    font-size: 3.5vmax;
}
.wishlistCounter{
    color: #F0F0F0;
    text-align: center;
    font-size: 1.5vmax;
}
.wishlistBin{
    height: 75px;
    width: 75px;
    object-position: right;
}
.wishlistProductPicture{
    height: 350px;
    width: 350px;
}
.wishlistProduct{
    text-align: center;
    font-size: 2vmax;
}
.descriptionText{
    font-size: 1.5vmax;
}
/*----------------------------------------------------WISHLIST----------------------------------------------------------*/

/*----------------------------------------------------SHOPPING CART----------------------------------------------------------

----------------------------------------------------SHOPPING CART----------------------------------------------------------*/
.cartBody{

    background-color: #464646;
}

.cartTitle{
    color: #F0F0F0;
    text-align: center;
    font-size: 3.5vmax;
}
.cartCounter{
    color: #F0F0F0;
    text-align: center;
    font-size: 1.5vmax;
}

.cartGrid{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 60% auto;

}
.cartProductGrid{

    display: grid;
    grid-template-columns: auto;
}

.cartProductGrid .cartProduct{
    margin-top: 2em;
    margin-left: 3em;
    margin-bottom: 0.75em;
    background-color: #C4C4C4CC;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 30% auto;
}

.cartProductGrid .cartProduct .cartProductName{
    background-color: #EEA10C;
    text-align: center;
    font-size: 1.5em;
    font-weight: bolder;
    grid-column: 1/3;

}

.cartProductGrid .cartProduct .cartProductDescription{
    text-align: justify;
    margin-top: 2em;
    margin-right: 1em;
    font-size: 1.3em;
    font-weight: lighter;
    color: black;
    grid-column: 1/2;
}

.cartProductGrid .cartProduct img{
    width: 70%;
    margin-left: 3em;
    margin-top: 2em;
    margin-bottom: 1em;

}

.cartProductGrid .cartProduct h3{
    text-align: left;
    margin-top: 2em;
    margin-right: 1em;
    font-size: 1.5em;
    font-weight: bolder;
    color: black;
    grid-column: 1/2;
}

.cartProductGrid .cartProduct .cartBin{
    width: 70px;
    height: 70px;
}

.cartProductGrid .cartProduct .cartProductInfo{

}

.cartProductGrid .cartProduct .cartProductInfo .quantitySection{

    display: grid;
    grid-template-columns: 40% 15% 5% 10%;
}

.cartProductGrid .cartProduct .cartProductInfo .quantitySection img{

    width: 50px;
    height: 50px;
}

.cartProductGrid .cartProduct .cartProductInfo .quantitySection input{
    font-size: 20px;
    text-align: center;
    margin-top: 1.5em;
    width: 75px;
    height: 50px;
}



.cartTotalGrid{
    text-align: center;

    display: grid;
    grid-template-columns: auto;
}

.cartTotalGrid .cartSummary{

    border-radius: 20px;
    margin: 2em 5em;
    background-color: #A4A4A4;
    display: grid;
    grid-template-columns: auto auto;
}


.cartTotalGrid .cartSummary .summaryTitle{
    font-size: 40px;
    grid-column: 1/3;
    text-align: center;
}

.cartTotalGrid .cartSummary .summaryContent{
    margin-bottom: 3em;
    font-size: 20px;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: auto auto;
}
.cartTotalGrid .cartSummary .summaryTotal{
    margin-top: 2em;
    font-size: 30px;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: auto auto;
}

.cartTotalGrid .promoCheckout{
    display: grid;
    grid-template-columns: auto;
    margin: 2em 5em 20em;
}

.cartTotalGrid .cartPromo{
    justify-content: center;
    border-radius: 20px;

    background-color: #A4A4A4;
    display: grid;
    grid-template-columns: auto;
}

.cartTotalGrid .cartPromo .promoTitle{
    font-size: 35px;
    grid-column: 1/3;
    text-align: center;
}

.cartTotalGrid .cartPromo input{
    font-size: 20px;
    width: 20em;
    height: 5em;
    text-align: center;
}

.cartTotalGrid .cartButton{
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template-columns: auto auto;
    background-color: #EEA10C;
    width: 300px;
    height: 100px;
    margin-bottom: 5em;
    margin-left: 10em;
    margin-top: 5em;
    border-radius: 10px;
}

.cartTotalGrid .cartButton img{
    margin-top: 20px;
    height: 60px;
    width: 60px;
}

.cartTotalGrid .cartButton .checkoutText{
    margin-top: 30px;
    font-size: 30px;
}
/*--------------------------------------------------LOGIN-------------------------------------------------------------*/

.loginTheme{
    background-color: #464646;
}

.loginContainer{
    position: absolute;
    margin-left: 36%;
    margin-top: 5%;
    width: 23%;
}

.loginContainer p{
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5%;
}

.loginContainer p.passwordForgotten{
    color: #FFBB56;
}

.loginContainer .loginBox{
    background: #F0F0F0;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 100%;
    height: 30px;
    margin-bottom: 5%;
    font-size: 18px;
}

.loginContainer .loginButton{
    font-size: 30px;
    font-weight: bold;
    height: 45px;
    width: 101%;
    background: #EEA10C;

}

.loginButton:hover{
    cursor: pointer;
}

/* Google Button */
#customBtn {
    display: inline-block;
    background: #F0F0F0;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    padding: 5px;
    margin-bottom: 5%;
}
#customBtn:hover {
    cursor: pointer;
}
img.icon {
    background: transparent 5px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
}
span.buttonText {
    display: inline;
    vertical-align: middle;
    position: center;
    font-size: 18px;
    font-weight: bold;
}

/*--------------------------------------------------SIGN UP-----------------------------------------------------------*/

.signupContainer{
    position: absolute;
    margin-left: 37%;
    margin-top: 5%;
    width: 20%;
}

.signupContainer p{
    color: white;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5%;
    text-align: center;
}

.signupContainer p.passwordForgotten{
    color: #FFBB56;
}

.signupContainer .loginBox{
    background: #F0F0F0;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 100%;
    height: 30px;
    margin-bottom: 5%;
    font-size: 18px;
}

.signupContainer .loginButton{
    font-size: 30px;
    font-weight: bold;
    height: 45px;
    width: 101%;
    background: #EEA10C;

}

/*----------------------------------------------------HEADER_EXT------------------------------------------------------*/

.headerExtContainer{
    display: grid;
    grid-template-columns: 75% 1fr;
}

.headerExtContainer .logo{
    height: 100%;
}

.headerExtContainer .logo img{
    margin-left: 59%;
}

.headerExtContainer .close{
    height: 100%;
}

.headerExtContainer .close img{
    width: 75px;
    height: 75px;
    float: right;
    padding: 4%;
}

/*---------------------------------------------ABOUT US---------------------------------------------------------------*/
.aboutUsBody{
    background-color: #464646;
}

.aboutUs {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
}

.aboutUs .intro{
    background-image:  linear-gradient(to bottom, rgba(50,40, 40, .85), rgba(0, 0, 0, .85)),
    url(https://blog.pdainternational.net/wp-content/uploads/2018/08/rawpixel-653764-unsplash.jpg);
    background-position: center;
    background-size: cover;
    height: 40em;
}

.aboutUs .intro h1{
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 75px;
    line-height: 125px;
    text-align: center;
    margin-top: 4%;
    margin-bottom: 3%;
    width: 100%;
}

.aboutUs .intro h2{
    color: white;
    font-style: normal;
    font-size: 35px;
    text-align: center;
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
}

.aboutUs .expect{
    margin-top: 2%;
    background-color: #A4A4A4;
    display: grid;
    grid-template-columns: 40% auto;
}

.aboutUs .expect img{
    object-fit: cover;
    width: 100%;
    height: 30em;
    margin-top: 3%;
    margin-bottom: 3%;
}

.aboutUs .expect .expectText{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.aboutUs .expect .expectText h1{
    text-align: center;
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 125px;
    margin-top: 3%;
}

.aboutUs .expect .expectText h2{
    text-align: center;
    color: white;
    font-style: normal;
    font-size: 30px;
    width: 65%;
    margin-left: 17%;
    margin-bottom: 1%;
}

.aboutUs .founders{
    display: grid;
    grid-template-row: 40% auto;
}
.aboutUs .founders h1{
    text-align: center;
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 65px;
    line-height: 125px;
    margin-top: 3%;
}

.aboutUs .founders .founderTeam{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 5%;
    padding: 5%;
}

.aboutUs .founders .founderTeam .founderBox{
    background-color: white;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 10px;
    text-align: center;
}

.aboutUs .founders .founderTeam .founderBox img{
    margin-top: 5%;
    margin-bottom: 10%;
}

.aboutUs .founders .founderTeam .founderBox h2{
    text-align: center;
    font-style: normal;
    font-size: 30px;
    margin-bottom: 5%;
}
