*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


header {
    width: 100vw;
    height: 125px;
    font-size: large;
    font-weight: bolder;
    background-color: #191919;
}

header .logo {
    display: inline-grid;
    height: 100%;
    left: 20px;
}

header .inner{
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

header .logo{
    display: table;
    height: 100%;
    float: left;
}

header .logo div{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

header .logo img{
    height: 120px;
}

header nav{
    float: right;
    height: 100%;
    width: 70%;
}

header nav li{
    display: table;
    height: 100%;
    float: left;
    margin-right: 3%;
}

header nav li:first-of-type{
    margin-right: 0.75em;
}

header nav li:last-of-type{
    margin-right: 0;
}

header nav span {
    display: table-cell;
    vertical-align: middle;
}

header nav a{
    color: #FFFFFF;
}

header nav a .iconedButton{
    display: table-cell;
    vertical-align: middle;
    background: #EEA10C;
    height: 1.75em;
    padding: 6px 10px;
    border-radius: 4px;
}

header nav .iconedButton:hover{
    filter: brightness(1.05);
}

header nav .searchBar{
    background-color: #C4C4C4;
    height: 35%;
    width: 35em;
    color: #000000;
    padding: 10px 20px;
    border-radius: 4px;
}

header nav .logInButton{
    background-color: #FFC700;
    color: #000000;
    padding: 10px 20px;
    border-radius: 4px;
}

header nav .logInButton:hover{
    filter: brightness(1.05);
}

header nav .signUpButton{
    background-color: #EEA10C;
    color: #000000;
    padding: 10px 20px;
    border-radius: 4px;
}

header nav .signUpButton:hover{
    filter: brightness(1.05);
}

