*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'IBM Plex Sans Condensed';
}

/*------------------------------------------------- HOME PAGE --------------------------------------------------------*/

.homePage{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    background-color: darkkhaki;
}

.homePage .welcomingButtons{
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: aqua;
    justify-content: space-between;
}

.homePage .welcomingButtons .welcomingButton{
    display: inline-grid;
}

.homePage .welcomingButtons .welcomingButton:hover{
    filter: brightness(1.05);
}

.homePage .trendingCategories{
    display: inline-grid;
    background-color: green;
}

.homePage  .popularProducts{
    background-color: blue;
    display: inline-grid;
}

.homePage  .popularProducts h1{
    color: #EEA10C;
}

.homePage .popularProducts a {
    background-color: #C4C4C4CC;
}

.homePage .popularProducts a .product{
    width: 90%;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
    display: grid;
    grid-template-columns: 55% auto;
    border-radius: 50px;
}

.homePage .popularProducts img{
    width: 70%;
    margin-left: 3em;
    margin-top: 2em;
    margin-bottom: 1em;
    border-radius: 50px;
}

.homePage .popularProducts .info{
    margin-top: 3em;
    margin-right: 1em;
    font-size: 1.3em;
    color: black;
}

.homePage .popularProducts .name{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.7em;
    grid-column: 1/3;
    color: #FFFFFF;
    background-color: black;
    border-radius: 5px;
    text-align: center;
}


/*------------------------------------------------ !HOME PAGE --------------------------------------------------------*/


/*----------------------------------------------------HEADER----------------------------------------------------------*/

header {
    width: 100vw;
    height: 125px;
    font-size: large;
    font-weight: bolder;
    background-color: #191919;
}

header .logo {
    display: inline-grid;
    height: 100%;
    left: 20px;
}

header .inner{
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

header .logo{
    display: table;
    height: 100%;
    float: left;
}

header .logo div{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

header .logo img{
    height: 120px;
}

header nav{
    float: right;
    height: 100%;
    width: 70%;
}

header nav li{
    display: table;
    height: 100%;
    float: left;
    margin-right: 3%;
}

header nav li:first-of-type{
    margin-right: 0.75em;
}

header nav li:last-of-type{
    margin-right: 0;
}

header nav span {
    display: table-cell;
    vertical-align: middle;
}

header nav a{
    color: #FFFFFF;
}

header nav a .iconedButton{
    display: table-cell;
    vertical-align: middle;
    background: #EEA10C;
    height: 1.75em;
    padding: 6px 10px;
    border-radius: 4px;
}

header nav .iconedButton:hover{
    filter: brightness(1.05);
}

header nav .searchBar{
    background-color: #C4C4C4;
    height: 35%;
    width: 35em;
    color: #000000;
    padding: 10px 20px;
    border-radius: 4px;
}

header nav .logInButton{
    background-color: #FFC700;
    color: #000000;
    padding: 10px 20px;
    border-radius: 4px;
}

header nav .logInButton:hover{
    filter: brightness(1.05);
}

header nav .signUpButton{
    background-color: #EEA10C;
    color: #000000;
    padding: 10px 20px;
    border-radius: 4px;
}

header nav .signUpButton:hover{
    filter: brightness(1.05);
}


/*----------------------------------------------Fin del HEADER--------------------------------------------------------*/

/*----------------------------------------------------FOOTER----------------------------------------------------------*/

footer {
    width: 100vw;
    height: 200px;
    font-size: large;
    font-weight: bolder;
    background-color: #191919;
}


footer .footerContainer{
    width: 67.1%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

footer .footerContainer .row {
    justify-content: space-between;
    grid-template-columns: auto auto auto;
    grid-auto-rows: auto;
    flex-wrap: wrap;
    opacity: 95%;
}


footer .footerContainer .row .footerLinkList{
    display: inline-grid;
    width: 33%;
}

footer .footerContainer .row .footerLinkList span{
    padding-top: 1em;
    padding-left: 25px;
    font-size: 1.25em;
    font-weight: bold;
    color: #EEA10C;
}

footer .footerContainer .row .footerLinkList ul{
    padding-top: 0.5em;
    list-style: none;
    margin: 0;
}

footer .footerContainer .row .footerLinkList ul li{
    padding: 10px;
}

footer .footerContainer .row .footerLinkList ul li a{
    padding: 10px 15px ;
    vertical-align: middle;
    color: #EEA10C;
}

footer .footerContainer .row .footerLinkList ul li a img{
    vertical-align: middle;
    padding-bottom: 0.25em;
    padding-right: 0.4em;
    width: 1.2em;
}

footer .footerContainer .row .footerLinkList ul li a:hover{
    filter: brightness(1.05);
    background-color: #FFFFFF;
    opacity: 75%;
}


/*----------------------------------------------Fin del FOOTER--------------------------------------------------------*/
/*--------------------------------------------------LOGIN-------------------------------------------------------------*/

.loginTheme{
    background-color: #464646;
}

.loginContainer{
    position: absolute;
    margin-left: 36%;
    margin-top: 5%;
    width: 30%;
}

.loginContainer p{
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5%;
}

.loginContainer p.passwordForgotten{
    color: #FFBB56;
}

.loginContainer .loginBox{
    background: #F0F0F0;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 100%;
    height: 30px;
    margin-bottom: 5%;
    font-size: 18px;
}

.loginContainer .loginButton{
    font-size: 30px;
    font-weight: bold;
    height: 45px;
    width: 101%;
    background: #EEA10C;

}

.loginButton:hover{
    cursor: pointer;
}

/* Google Button */
#customBtn {
    display: inline-block;
    background: #F0F0F0;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    padding: 2px;
    margin-bottom: 5%;
}
#customBtn:hover {
    cursor: pointer;
}
img.icon {
    background: transparent 5px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
}
span.buttonText {
    display: inline;
    vertical-align: middle;
    position: center;
    font-size: 18px;
    font-weight: bold;
}

/*--------------------------------------------------SIGN UP-----------------------------------------------------------*/

.signupContainer{
    position: absolute;
    margin-left: 36%;
    margin-top: 5%;
    width: 30%;
}

.signupContainer p{
    color: white;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5%;
    text-align: center;
}

.signupContainer p.passwordForgotten{
    color: #FFBB56;
}

.signupContainer .loginBox{
    background: #F0F0F0;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 100%;
    height: 30px;
    margin-bottom: 5%;
    font-size: 18px;
}

.signupContainer .loginButton{
    font-size: 30px;
    font-weight: bold;
    height: 45px;
    width: 101%;
    background: #EEA10C;

}

/*----------------------------------------------------HEADER_EXT------------------------------------------------------*/

.headerextContainer{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 75% 1fr;
}

.headerextContainer .logo{
    height: 100%;
}

.headerextContainer .logo img{
    float: right;
    margin-right: 26.5%;
}

.headerextContainer .close{
    height: 100%;
}

.headerextContainer .close img{
    width: 75px;
    height: 75px;
    float: right;
    padding: 5%;

}

/*----------------------------------------------Fin del FOOTER_EXT----------------------------------------------------*/
.contactContainer{
    background-color:#c4c4c4;
    padding: 30px;
}
.contactTitle{
    text-align: center;
    font-size: 3.5vmax;
}
.contactBody{
    font-family: 'IBM Plex Sans Condensed';
    background-color: #464646;
}

.contactGrid{

    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5em;
    grid-auto-rows: auto auto;
}

.contactObject{

    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    box-shadow: 5px 5px 10px;
    shape-margin: 10px;
    border-radius: 20px;
}
.contactPicture{
    position: center;
}

/*-----------------------------------------------------------------*/

.ticketBox{
    background: #F0F0F0;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 100%;
    height: 30px;
    margin-bottom: 2%;
}
.messageBox{
    background: #F0F0F0;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 100%;
    height: 30px;
    margin-bottom: 5%;
    padding-bottom: 100px;
}

.TicketContainer{
    background-color:#c4c4c4;
    padding: 30px;
    position: absolute;
    margin-left: 25%;
    margin-top: 8%;
    border-radius: 10px;
}

.TicketForm{
    background-color: #464646;
}

.TicketPicture{
    margin-left: 40%;
}

.ticketButton{
    background: #EEA10C;
    margin-left: 42%;
    height: 75px;
    width: 125px;
    border-radius: 10px;
    font-size: 15px;
}
/*----------------------------------------------------WISHLIST----------------------------------------------------------*/
.wishlistBody{
    font-family: 'IBM Plex Sans Condensed';
    background-color: #464646;
}
.wishlistContainer{
    /*background-color:#c4c4c4;*/


    position: absolute;
    margin-left: 10%;
    margin-top: 2%;
    border-radius: 10px;
}

.wishlistObject{

    background-color:#c4c4c4;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    box-shadow: 5px 5px 10px;
    shape-margin: 10px;
    border-radius: 20px;
    padding: 5%;


}
.wishlistGrid{

    display: grid;
    grid-template-columns: auto;
    grid-gap: 5em;
    grid-auto-rows: auto auto auto;
}

.wishlistTitle{
    color: #F0F0F0;
    text-align: center;
    font-size: 3.5vmax;
}
.wishlistCounter{
    color: #F0F0F0;
    text-align: center;
    font-size: 1.5vmax;
}
.wishlistBin{
    height: 75px;
    width: 75px;
    object-position: right;
}
.wishlistProductPicture{
    height: 350px;
    width: 350px;
}
.wishlistProduct{
    text-align: center;
    font-size: 2vmax;
}
.descriptionText{
    font-size: 1.5vmax;
}
/*----------------------------------------------------WISHLIST----------------------------------------------------------*/



/*----------------------------------------------InsideACategory-------------------------------------------------------*/

.catGridContainer {
    width: 95%;
    margin: 2em auto;
    display: grid;
    grid-template-areas: 'filter products';
    grid-template-columns: 30% auto;
    padding: 20px;
}

.catLeftFilter{
    grid-area: filter;
    display: grid;
    grid-template-areas:
            'sectionTitle'
            'priceSelection'
            'brandSelection'
            'additionalOptions';
    grid-template-rows: 6em 10em 10em 10em;
    text-align: center;
    background-color: #3C3B3B;
    border-radius: 5px;
    padding-bottom: 2em;
}

.catLeftFilter h1{
    margin-top: 1em;
    color: #EEA10C;
}

.catLeftFilter h2{
    margin-top: 2em;
    color: #EEA10C;
}

.catLeftFilter h1 .sectionTitle{
    grid-area: sectionTitle;
    border: 2px solid black;
}

.catLeftFilter .priceSelection{
    grid-area: priceSelection;
    grid-template-areas:
            'subsectionTitle'
            'priceSelectionContainer';
    justify-content: normal;
    margin-top: 1em;
    display: grid;
}

.catLeftFilter .priceSelection h2{
    grid-area: subsectionTitle;
}

.catLeftFilter .priceSelection .priceSelectionContainer{
    grid-area: priceSelectionContainer;
}

.catLeftFilter .priceSelection input{
    width: 20%;
    height: 2.3em;
    margin: 2em 3em;
    text-align: center;
}

.catLeftFilter .priceSelection input .minAmount{
    grid-area: minPrice;
}

.catLeftFilter .priceSelection input .maxAmount{
    grid-area: maxPrice;
}

.catLeftFilter .brandSelection{
    grid-area: brandSelection;
    margin-top: 1em;
}

.catLeftFilter .brandSelection h2{
    margin-bottom: 0.8em;
}

.catLeftFilter .brandSelection input{
    float: left;
    margin-left: 12em;
    margin-right: 2em;
}

.catLeftFilter .brandSelection label{
    float: left;
    font-weight: bolder;
    color: #FFFFFF;
}

.catLeftFilter .additionalOptions{
    grid-area: additionalOptions;
    display: grid;
    margin-top: 1em;
}

.catLeftFilter .additionalOptions h2{
    margin-bottom: 0.8em;
}

.catLeftFilter .additionalOptions input{
    float: left;
    margin-left: 12em;
    margin-right: 2em;
}

.catLeftFilter .additionalOptions label{
    float: left;
    font-weight: bolder;
    color: #FFFFFF;
}





.catProducts{
    grid-area: products;
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
}

.catProducts .information {
    text-align: justify;
    grid-column: 1/3;
    margin-top: 1em;
    font-size: 1.25em;
    color: #FFFFFF;
    padding: 1em 5em;
}

.catProducts a{
    background-color: #C4C4C4CC;
}

.catProducts .product{
    width: 90%;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
    display: grid;
    grid-template-columns: 55% auto;
    border-radius: 50px;
}

.catProducts .product img{
    width: 70%;
    margin-left: 3em;
    margin-top: 2em;
    margin-bottom: 1em;
    border-radius: 50px;
}

.catProducts .product .info{
    margin-top: 3em;
    margin-right: 1em;
    font-size: 1.3em;
    color: black;
}

.catProducts .product .name{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.7em;
    grid-column: 1/3;
    color: #FFFFFF;
    background-color: black;
    border-radius: 5px;
}





/*----------------------------------------------InsideACategory-------------------------------------------------------*/


/*----------------------------------------------- Concrete Product ---------------------------------------------------*/


/*--- Main grid ---*/
.productGridContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 45% auto;
    grid-template-rows: auto auto;
    text-align: center;
}
/*--- !Main grid ---*/


/*--- Image ---*/
.productGridContainer .imgContainer img{
    width: 30em;
    border-radius: 50px;
    margin-top: 3em;
    margin-bottom: 2em;
}
/*--- !Image --*/

/*--- Product info --*/
.productGridContainer .operationsGrid{
    display: grid;
    text-align: justify;
    justify-content: space-evenly;
    grid-template-columns: auto auto;
    grid-template-rows: 4em 4em 3em 3em 3em;
    font-size: 1.5em;
    color: #FFFFFF;
}

.productGridContainer .operationsGrid .productName{
    grid-column: 1/3;
    font-size: 1.3em;
    margin-top: 1em;
}

.productGridContainer .operationsGrid .productPrice{
    color: #EEA10C;
    font-size: 2.2em;
}

.productGridContainer .operationsGrid .additionalPriceInformation{
    color: #c5c5c5;
}


.productGridContainer .operationsGrid .leftHandBoldTag{
    font-weight: bold;
}

.productGridContainer .operationsGrid .addToCartButton{
    font-size: 1em;
    font-weight: bold;
    width: 10em;
    background-color: #EEA10C;
    border-radius: 15px;
}

.productGridContainer .operationsGrid .buyNowButton{
    font-size: 1em;
    font-weight: bold;
    width: 10em;
    background-color: #EEA10C;
    border-radius: 15px;
}
/*--- !Product info --*/


/*--- Page options --*/
.productGridContainer .additionalOptions{
    grid-column: 1/3;
    margin-top: 1em;
    display: grid;
    font-size: 1.5em;
}

/*-- Buttons --*/
.productGridContainer .additionalOptions .selectionButtons{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    padding: 2em;
}

.productGridContainer .additionalOptions .selectionButtons .concreteSelectionButton{
    background-color: #EEA10C;
    font-weight: bold;
    font-size: 1em;
    height: 2.5em;
    border-radius: 15px;
}
/*-- !Buttons --*/

/*--- Selection section ---*/
.productGridContainer .additionalOptions .specs{
    display: grid;
    grid-template-columns: 18% auto;
    color: #FFFFFF;
    text-align: justify;
    margin-left: 4em;
    margin-right: 2em;
    margin-bottom: 2em;
}

.productGridContainer .additionalOptions .specs h1{
    grid-column: 1/3;
    font-size: 1.8em;
    text-underline: #EEA10C;
    height: 1.5em;
    margin-top: 1em;
}

.productGridContainer .additionalOptions .leftHandBoldTag{
    font-weight: bold;
    height: 1.7em;
}
/*--- !Selection section ---*/


/*--- Opinions section ---*/
.productGridContainer .additionalOptions .opinions{
    display: grid;
    grid-template-columns: auto;
}

.productGridContainer .additionalOptions .opinions .concreteOpinion{
    display: grid;
    background-color: #C4C4C4;
    grid-template-columns: auto auto;
    vertical-align: center;
    text-align: justify;
    margin: 2em 2em 1em 2em;
    padding: 15px;
    border-radius: 15px;
}

.productGridContainer .additionalOptions .opinions .concreteOpinion .userName{
    font-weight: bold;
    font-size: 1.5em;
    height: 1.5em;
}

.productGridContainer .additionalOptions .opinions .concreteOpinion .score{
    font-weight: bolder;
}

.productGridContainer .additionalOptions .opinions .concreteOpinion .opinionText{
    grid-column: 1/3;
    padding-top: 0.5em;
    padding-bottom: 1.3em;

}

.productGridContainer .additionalOptions .opinions .concreteOpinion .leftHandBoldTag{
    font-weight: bold;
}


/*--- !Opinions section ---*/



/*--- FAQ section ---*/

.productGridContainer .additionalOptions .faqGrid{
    display: grid;
    grid-template-columns: auto;
}

.productGridContainer .additionalOptions .questionGrid{
    display: grid;
    background-color: #C4C4C4;
    grid-template-columns: auto auto;
    vertical-align: center;
    text-align: justify;
    margin: 2em 2em 1em 2em;
    padding: 15px;
    border-radius: 15px;
}

.productGridContainer .additionalOptions .questionGrid .question{
    font-weight: bold;
    font-size: 1.5em;
    height: 1.5em;
}

.productGridContainer .additionalOptions .questionGrid .numberOfReplies{
    font-weight: bolder;
}

.productGridContainer .additionalOptions .questionGrid .reply{
    grid-column: 1/3;
    padding-top: 0.5em;
    padding-bottom: 1.3em;
}
/*--- !FAQ section ---*/
/*--- !Page options --*/
/*----------------------------------------------- Concrete Product ---------------------------------------------------*/



















































































/*----------------------------------------------------SHOPPING CART----------------------------------------------------------

----------------------------------------------------SHOPPING CART----------------------------------------------------------*/
.cartBody{

    background-color: #464646;
}

.cartTitle{
    color: #F0F0F0;
    text-align: center;
    font-size: 3.5vmax;
}
.cartCounter{
    color: #F0F0F0;
    text-align: center;
    font-size: 1.5vmax;
}

.cartGrid{
    margin-top: 1%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;

}
.cartProductGrid{

    background-color: #F0F0F0;
    grid-template-columns: auto;
    grid-template-row: auto auto auto;
}

.cartProductGridA{
    background-color:#a4a4a4;
    padding: 40px;
    font-size: 30px;
    margin-left: 5%;
    margin-right: 40%;
    margin-top: 2%;
    margin-bottom: 5%;
    shape-margin: 10px;
    border-radius: 10px;
}


.cartProduct{
    text-align: center;
    font-size: 2vmax;
}

.cartProductPicture{
    height: 150px;
    width: 150px;
}

.cartBin{
    margin-bottom: 5%;
    float: right;
    height: 40px;
    width: 40px;
}




